<!doctype html>
<html lang="en-US">
  <head>
    {% if colour %}
    <style>
      .random_colour {
        background-color: {{ colour }}
      }
    </style>
    {% endif %}
    <meta charset="utf-8" />
    <title>Programs</title>
  </head>
  <body class="random_colour">
    <form action="{% url button_url1 %}" method="get">
      {% csrf_token %}
      <button type="submit" name={{ button_url1 }}>
        Get Random Colour
      </button>
    </form>
    <form action="{% url button_url2 %}" method="get">
      {% csrf_token %}
      <button type="submit" name={{ button_url2 }}>
        Get Sunlight Colour
      </button>
    </form>
  </body>
</html>


